body,
a {
    color: white;
}

a:hover {
    color: #daa520;
}

main {
    color: #1f1515;
    padding-top: 115px;
}

.hide {
    position: absolute;
    left: -10000px;
    top: -10000px;
}

h1 {
    margin: 1rem .5rem 1rem 1rem;
    text-align: left;
}

h2 {
    font-size: 3rem;
    text-align: center;
    padding: .5rem;
}

h3 {
    font-size: 2rem;
    margin-bottom: 0;
}

section {
    padding-top: 115px;
}

.flex {
    display: flex;
}

/* Header */

header {
    background: #1f1515;
    position: fixed;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    top: 0;
    min-height: 115px;
}

.logo {
    position: absolute;
    top: -56px;
    left: -61px;
}

.header-title {
    z-index: 10;
}

nav {
    justify-content: space-between;
    margin: 0 .5rem 0 -35px;
}

/* Email Form */

.email-form {
    max-width: 275px;
    margin: 0 auto;
    flex-direction: column;
}

.email-group {
    width: 100%;
    max-width: 300px;
}

.email-input {
    display: block;
    width: 100%;
    min-height: 2.2rem;
    padding: 0;
    background: transparent;
    border: none;
    border-bottom: 1px solid black;
}

.email-input:focus {
    outline: transparent;
}

.error {
    display: none;
    padding-top: .5rem;
    color: #dc2a2a;
}

/* Material Design Underline */
.bar {
    position: relative;
    display: block;
    width: 100%;
}

.bar:before,
.bar:after   {
    content: '';
    height: 2px; 
    width: 0;
    bottom: 0; 
    position: absolute;
    background: #3F51B5; 
    transition: 0.5s ease all; 
}

.bar:before {
    left: 50%;
}
.bar:after {
    right: 50%; 
}

.email-input:focus ~ .bar:before,
.email-input:focus ~ .bar:after {
    width: 50%;
}

.email-input:invalid ~ .error {
    display: block;
}

/* How It Works */

.video {
    width: 100%;
}

.how-it-works {
    flex-direction: column;
    align-items: center;
}

iframe {
    border: none;
}

/* Features */

.feature {
    padding: 1rem;
    text-align: center;
}

.feature p {
    margin-top: .5rem;
}

.feature-icon {
    display: none;
}

/* Buttons */

.button {
    font-size: 1.25rem;
    margin: 1rem auto;
    width: 120px;
    height: 3rem;
    background: transparent;
    border: 1px solid black;
}

.button:hover {
    color: white;
    background: black;
    cursor: pointer;
}

/* Pricing */

.pricing {
    justify-content: center;
    flex-flow: wrap;
}

.price-block {
    border: 1px solid black;
    text-align: center;
    margin: 1rem .5rem;
    max-width: 300px;
    min-width: 250px;
    flex: 1 1;
}

.price-header {
    font-size: 1.8rem;
    background: #ccc;
    margin: 0;
    padding: 1rem;
    text-transform: uppercase;
    min-height: 110px;
}

.price {
    font-size: 2rem;
    font-weight: bold;
}

.price-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.price-list-item {
    padding: 1rem 0;
}

/* Footer */

footer {
    background: #1f1515;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    grid-gap: 20px;
    padding: 1rem 0;
    margin-top: 4rem;
}

footer a {
    display: block;
}

footer p {
    margin: 0;
}

.fa-gitlab {
    margin-right: .15rem;
}

/* Media Quries */

@media only screen and (min-width: 400px) {
    h1 {
        margin: 0 4rem .5rem 0;
    }

    nav {
        margin-right: 2rem;
    }

    .logo {
        transform: scale(1.25);
    }

}

@media only screen and (min-width: 500px) {
    header {
        justify-content: center;
        min-height: 95px;
    }

    h1 {
        margin: 0 0 1rem 0;
        text-align: center;
    }

    nav {
        margin: 0;
    }

    .header-title {
        width: 65%;
    }

    .logo {
        transform: scale(1);
    }
    
    .video {
        max-width: 641px;
    }

    .feature {
        justify-content: center;
    }
    
    .feature-title {
        margin-top: 0;
    }
    
    .feature-text {
        margin-left: 2rem;
        text-align: left;
    }
    
    .feature-icon {
        display: block;
        font-size: 2.5rem;
        margin: 0 1rem;
    }
}

@media only screen and (min-width: 1200px) {
    body,
    header {
        max-width: 1200px;
        margin: 0 auto;
    }

    .logo {
        position: absolute;
        top: -30px;
        left: -20px;
        transform: scale(.60);
    }
}
